@model IEnumerable<LeamosColombiaProject.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-tooltip {
        position: relative;
        display: inline-block;
    }

        .custom-tooltip::before {
            content: attr(data-title);
            position: absolute;
            background-color: #C4C8C7;
            color: black;
            border: 1px solid white;
            padding: 10px;
            border-radius: 5px;
            font-size: 14px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;
            z-index: 1000;
            top: -180%;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .custom-tooltip:hover::before {
            opacity: 1;
            visibility: visible;
        }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
</style>


<p>

    <a class="btn btn-success custom-tooltip" asp-action="Create" data-title="Crear" title="Crear un nuevo cliente">Nuevo cliente</a>
    <a class="btn btn-info custom-tooltip" asp-controller="Referencias" asp-action="Create" data-title="Crear referencia" title="Crear una nueva referencia">Nueva referencia</a>

</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Listado de clientes</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Documento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Correo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ciudad)
                        </th>
                        <th>
                            Univerisad
                        </th>
                        <th>
                            Facultad
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estado)
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="text-center vertical-center">
                                    @Html.DisplayFor(modelItem => item.IdTipoDocumentoNavigation.Documento) <br />
                                    @Html.DisplayFor(modelItem => item.Documento)
                                </div>
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Correo)
                            </td>
                            <td class="city-cell">
                                <div class="city-content">
                                    @Html.DisplayFor(modelItem => item.Ciudad)
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Universidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Facultad)
                            </td>
                            <td>
                                @switch (item.Estado)
                                {
                                    case true:
                                        <button type="button" class="btn btn-success btn-block custom-tooltip" data-toggle="modal" data-target="#inhabilitar-@item.IdCliente" data-title="Cambiar estado" title="El cliente esta activo. Si presionas se inhabilitará">
                                            Activo
                                        </button>
                                        break;
                                    case false:
                                        <button type="button" class="btn btn-danger btn-block custom-tooltip" data-toggle="modal" data-target="#habilitar-@item.IdCliente" data-title="Cambiar estado" title="El cliente esta inactivo. Si presionas se habilitará">
                                            Inactivo
                                        </button>
                                        break;
                                    default:
                                        <span>Estado desconocido</span>
                                        break;
                                }
                            </td>
                            <td>
                                @if (item.Estado == true)
                                {
                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn-info m-1 text-white custom-tooltip" data-toggle="modal" data-target="#Modal-@item.IdCliente" data-title="Información adicional" title="Visualizar información adicional del cliente">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a class="btn btn-warning m-1 custom-tooltip" asp-action="Edit" asp-route-id="@item.IdCliente" data-title="Editar" title="Editar información del cliente"><i class="fas fa-edit"></i></a>
                                        <a class="btn btn-info m-1 custom-tooltip" asp-action="Details" asp-route-id="@item.IdCliente" data-title="Ver referencias" title="Visualizar las referencias asociadas al cliente"><i class="fas fa-user"></i></a>
                                        <a class="btn btn-info m-1 custom-tooltip" asp-action="DetailsVentas" asp-route-id="@item.IdCliente" data-title="Ventas al cliente" title="Visualizar el listado de ventas hechas al cliente"><i class="fas fa-shopping-bag"></i></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn-info m-1 text-white disabled" data-toggle="modal" data-target="#Modal-@item.IdCliente">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a class="btn btn-warning disabled m-1" asp-action="Edit" asp-route-id="@item.IdCliente"><i class="fas fa-edit"></i></a>
                                        <a class="btn btn-info disabled m-1" asp-action="Details" asp-route-id="@item.IdCliente"><i class="fas fa-user"></i></a>
                                        <a class="btn btn-info disabled m-1" asp-action="DetailsVentas" asp-route-id="@item.IdCliente"><i class="fas fa-shopping-bag"></i></a>
                                    </div>
                                }

                                <div class="modal fade" id="Modal-@item.IdCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Clientes</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar el modal de información sobre la universidad">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body modal-body-content">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <h4>Información adicional del cliente</h4>
                                                            <hr />
                                                            <dl class="row">
                                                                <dt class="col-sm-3">Dirección:</dt>
                                                                <dd class="col-sm-9">@item.Direccion</dd>

                                                                <dt class="col-sm-3">Teléfono:</dt>
                                                                <dd class="col-sm-9">@item.Telefono</dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Cerrar el modal de información sobre la universidad">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="habilitar-@item.IdCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Habilitar clientes</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar el modal de habilitación del cliente">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body modal-body-content">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <dl class="text-center modal-body">
                                                                ¿Estás seguro de querer realizar esta acción?
                                                                <br>
                                                                Ten en cuenta que se habilitarán las referencias también.
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Cerrar el modal de habilitación del cliente">Cerrar</button>
                                                <form asp-action="Habilitar" asp-route-id="@item.IdCliente" method="post">
                                                    <button type="submit" class="btn btn-danger" title="Confirmar la habilitación del cliente">Confirmar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="modal fade" id="inhabilitar-@item.IdCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Inhabilitar cliente</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar el modal de inhabilitación del cliente">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body modal-body-content">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <dl class="text-center modal-body">
                                                                ¿Estás seguro de querer realizar esta acción?
                                                                <br>
                                                                Ten en cuenta que se inhabilitarán las referencias también.
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Cerrar el modal de inhabilitación del cliente">Cerrar</button>
                                                <form asp-action="Inhabilitar" asp-route-id="@item.IdCliente" method="post">
                                                    <button type="submit" class="btn btn-danger" title="Confirmar la inhabilitación del cliente">Confirmar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#zero_config').DataTable({
                "columns": [
                    { "data": "Documento" },
                    { "data": "Nombre" },
                    { "data": "Correo" },
                    { "data": "Dirección" },
                    { "data": "Teléfono" },
                    { "data": "Ciudad" },
                    { "data": "Estado" },
                    { "data": "Acciones" }
                ],
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "pageLength": 10,
                "lengthMenu": [10, 25, 50, 100],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "No se ha encontrado este registro",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros en la tabla",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    'search': 'Buscar',
                    'paginate': {
                        'next': 'Siguiente',
                        'previous': 'Anterior'
                    },
                },
                "columnDefs": [
                    { "searchable": true, "targets": [0, 1] },
                    { "searchable": false, "targets": [2, 3, 4, 5, 6, 7] }
                ]
            });
        });
    </script>
}